<a href="https://colab.research.google.com/github/itsmaul/bangkit-capstone/blob/main/Clean_TrainingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
adit_df = pd.read_csv("dataset_adit.csv")
adit_df.sample(20)

,ID,NOREK,TGL_TRAN,TGL_EFEKTIF,JAM_TRAN,SEQ,DESK_TRAN,SALDO_AWAL_MUTASI,MUTASI_DEBET,MUTASI_KREDIT,SALDO_AKHIR_MUTASI,GLSIGN,TRUSER,KODE_TRAN,KODE_TRAN_TELLER,TRREMK,TLBDS1,TLBDS2,REMARK_CUSTOM
18,1,479101005292506,2024-07-01 00:00:00,2024-07-01 00:00:00,NaN,NaN,Transaksi tidak ditemukan,71547.8,0.0,0.0,71547.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,23,479101005292506,2024-11-11 10:48:21,2024-11-11 10:48:21,104821.0,143116.0,BFST2757514521 NBMB:CENAIDJA 20241111BRINIDJA0...,3086995.8,2500.0,0.0,3084495.8,Db,8888254.0,2.0,9973.0,BFST2757514521 NBMB:CENAIDJA,ESB:NBMB:0008G00F:759740957843,20241111BRINIDJA010O0226253468,BFST2757514521 NBMB:CENAIDJA
6,1,479101005292506,2024-02-26 18:09:20,2024-02-26 18:09:20,180920.0,7007018.0,2024022692285007312 WS_OB;2024022692285007312;...,51547.8,0.0,4575000.0,4626547.8,Cr,371854.0,5.0,8700.0,2024022692285007312,ESB:T:0371854:S:0371892:WSOB,WS_OB;2024022692285007312;44409,2024022692285007312
55,6,479101005292506,2024-11-04 11:52:07,2024-11-04 11:52:07,115207.0,3648.0,BFST7391631283 NBMB:CENAIDJA 20241104BRINIDJA0...,3396295.8,2500.0,0.0,3393795.8,Db,8888151.0,2.0,9973.0,BFST7391631283 NBMB:CENAIDJA,ESB:NBMB:0008G00F:756668815959,20241104BRINIDJA010O0200475798,BFST7391631283 NBMB:CENAIDJA
40,13,479101005292506,2024-10-30 08:02:25,2024-10-30 08:02:25,80225.0,101424.0,6013010855480076#754182244496#NBMB#TRFLA LA167...,1413547.8,6500.0,0.0,1407047.8,Db,8888286.0,2.0,8508.0,6013010855480076#754182244496#NBMB#TRFLA,ESB:NBMB:0005N00F:754182244496,LA167891050001200093NBMB6013010855480076,6013010855480076#754182244496#NBMB#TRFLA
37,10,479101005292506,2024-10-30 08:00:24,2024-10-30 08:00:24,80024.0,61415.0,BFST002501002620303 NBMB:AGTBIDJA 20241030BRIN...,7619047.8,3000000.0,0.0,4619047.8,Db,8888371.0,2.0,9973.0,BFST002501002620303 NBMB:AGTBIDJA,ESB:NBMB:0008G00F:754181614360,20241030BRINIDJA010O0244718555,BFST002501002620303 NBMB:AGTBIDJA
39,12,479101005292506,2024-10-30 08:02:25,2024-10-30 08:02:25,80225.0,101424.0,6013010855480076#754182244496#NBMB#TRFLA LA167...,4616547.8,3203000.0,0.0,1413547.8,Db,8888286.0,2.0,8508.0,6013010855480076#754182244496#NBMB#TRFLA,ESB:NBMB:0005N00F:754182244496,LA167891050001200093NBMB6013010855480076,6013010855480076#754182244496#NBMB#TRFLA
17,1,479101005292506,2024-06-01 00:00:00,2024-06-01 00:00:00,NaN,NaN,Transaksi tidak ditemukan,71547.8,0.0,0.0,71547.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,17,479101005292506,2024-11-11 09:07:16,2024-11-11 09:07:16,90716.0,22140.0,BRIVA149010081385781304NBMBSURATUN ESB:NBMB:02...,4644995.8,524000.0,0.0,4120995.8,Db,8888487.0,4.0,6669.0,BRIVA149010081385781304NBMBSURATUN,ESB:NBMB:0200200P:759696043499,BRIVA149010081385781304NBMBSURATUN,BRIVA149010081385781304NBMBSURATUN
33,6,479101005292506,2024-10-27 18:20:27,2024-10-27 18:20:27,182027.0,1995009.0,5899290032859480#000000007537#ATM #TRFLA TRF B...,119047.8,0.0,700000.0,819047.8,Cr,888031.0,1.0,8514.0,5899290032859480#000000007537#ATM #TRFLA,LA 479101005292506ATM 5899290032859480,TRF BERSAMA FROM AMAT BIN ITA,Transfer Antar Bank Dari Amat Bin Ita
61,12,479101005292506,2024-11-07 20:09:36,2024-11-07 20:09:36,200936.0,110290.0,BFST479101005292506AHYARBACHTIA:BSMDIDJA 20241...,3788795.8,0.0,2500000.0,6288795.8,Cr,8888637.0,1.0,8154.0,BFST479101005292506AHYARBACHTIA:BSMDIDJA,ESB:BFST:0008N:20241107FASTIDJA01017106767,20241107BSMDIDJA010O0271270418,BFST479101005292506AHYARBACHTIA:BSMDIDJA
0,1,479101005292506,2024-01-29 23:16:47,2024-01-29 23:16:47,231647.0,33048.0,NBMB NIKEN WIDYA TO SURATUN ESB:NBMB:0001500F:...,61547.8,0.0,2735000.0,2796547.8,Cr,8888168.0,1.0,8506.0,NBMB NIKEN WIDYA TO SURATUN,ESB:NBMB:0001500F:641894918038,NaN,Transfer Dari Niken Widya via BRImo
34,7,479101005292506,2024-10-28 10:40:52,2024-10-28 10:40:52,104052.0,9000009.0,TUNAI ; ESB:INDS:0002800D:9b0248a1d7a9,819047.8,0.0,4000000.0,4819047.8,Cr,4791053.0,1.0,2117.0,NaN,ESB:INDS:0002800D:9b0248a1d7a9,TUNAI ;,TUNAI ; ESB:INDS:0002800D:9b0248a1d7a9
28,1,479101005292506,2024-10-20 14:57:55,2024-10-20 14:57:55,145755.0,104272.0,NBMB AMAT BIN ITA TO SURATUN ESB:NBMB:0001500F...,221547.8,0.0,800000.0,1021547.8,Cr,8888117.0,1.0,8506.0,NBMB AMAT BIN ITA TO SURATUN,ESB:NBMB:0001500F:750054948280,NaN,Transfer Dari Amat Bin Ita via BRImo
53,4,479101005292506,2024-11-03 15:50:02,2024-11-03 15:50:02,155002.0,5037307.0,5899290032859480#000000006302#ATM #TRFLA TRF B...,3033295.8,0.0,800000.0,3833295.8,Cr,888904.0,1.0,8514.0,5899290032859480#000000006302#ATM #TRFLA,LA 479101005292506ATM 5899290032859480,TRF BERSAMA FROM AMAT BIN ITA,Transfer Antar Bank Dari Amat Bin Ita
47,20,479101005292506,2024-10-31 20:17:27,2024-10-31 20:17:27,201727.0,31578.0,601301085548007600170193,368295.8,0.0,1500000.0,1868295.8,Cr,9930560.0,1.0,8554.0,601301085548007600170193,NaN,NaN,Setoran Tunai
3,4,479101005292506,2024-01-30 08:43:32,2024-01-30 08:43:32,84332.0,102331.0,BFST002501002620303 NBMB:AGTBIDJA 20240130BRIN...,296547.8,2500.0,0.0,294047.8,Db,8888513.0,2.0,9973.0,BFST002501002620303 NBMB:AGTBIDJA,ESB:NBMB:0008G00F:641979970180,20240130BRINIDJA010O0227521528,BFST002501002620303 NBMB:AGTBIDJA
64,15,479101005292506,2024-11-08 18:31:57,2024-11-08 18:31:57,183157.0,5860148.0,PRTT601301085548007605860148#10157795,4988795.8,254000.0,0.0,4734795.8,Db,852972.0,2.0,8522.0,PRTT601301085548007605860148#10157795,PRTT601301085548007605860148#10157795,NaN,Pembayaran Merchant Idm F282-bumi Setia Mekar ...
45,18,479101005292506,2024-10-30 08:12:31,2024-10-30 08:12:31,81231.0,41480.0,BFST7391631283 NBMB:CENAIDJA 20241030BRINIDJA0...,470795.8,100000.0,0.0,370795.8,Db,8888043.0,2.0,9973.0,BFST7391631283 NBMB:CENAIDJA,ESB:NBMB:0008G00F:754185519035,20241030BRINIDJA010O0244829556,BFST7391631283 NBMB:CENAIDJA
71,22,479101005292506,2024-11-11 10:48:21,2024-11-11 10:48:21,104821.0,143116.0,BFST2757514521 NBMB:CENAIDJA 20241111BRINIDJA0...,3236995.8,150000.0,0.0,3086995.8,Db,8888254.0,2.0,9973.0,BFST2757514521 NBMB:CENAIDJA,ESB:NBMB:0008G00F:759740957843,20241111BRINIDJA010O0226253468,BFST2757514521 NBMB:CENAIDJA

In [ ]:
alus_df = pd.read_csv("dataset_alus.csv")
alus_df.sample(20)

,ID,NOREK,TGL_TRAN,TGL_EFEKTIF,JAM_TRAN,SEQ,DESK_TRAN,SALDO_AWAL_MUTASI,MUTASI_DEBET,MUTASI_KREDIT,SALDO_AKHIR_MUTASI,GLSIGN,TRUSER,KODE_TRAN,KODE_TRAN_TELLER,TRREMK,TLBDS1,TLBDS2,REMARK_CUSTOM
58,18,12301083861508,2024-03-23 10:20:39,2024-03-23 00:00:00,102039,9029207,WBNK DEYA DAMAYANTI TO TO ALUSTINA SUCI FROM43...,491000.0,0.0,1000000.0,1491000.0,Cr,0888010,1,8506.0,WBNK DEYA DAMAYANTI TO TO ALUSTINA SUCI,FROM432901018417534 TO012301083861508WBN,NaN,Transfer Dari Deya Damayanti via BRILink
81,19,12301083861508,2024-04-20 23:59:59,2024-04-20 00:00:00,235959,0,Admin Fee,2747500.0,6000.0,0.0,2741500.0,Db,NaN,453,NaN,NaN,NaN,NaN,Admin Fee
89,1,12301083861508,2024-05-02 11:32:03,2024-05-02 00:00:00,113203,85554,BFST0113340691100 NBMB:PDJBIDJA 20240502BRINID...,2423000.0,680000.0,0.0,1743000.0,Db,8888401,2,9973.0,BFST0113340691100 NBMB:PDJBIDJA,ESB:NBMB:0008G00F:679516838523,20240502BRINIDJA010O0217634001,BFST0113340691100 NBMB:PDJBIDJA
44,4,12301083861508,2024-03-03 14:34:02,2024-03-03 00:00:00,143402,6805,PUL-SIM 081286178536NBMB5221840817338040 ESB:N...,768500.0,15000.0,0.0,753500.0,Db,8888316,2,8508.0,PUL-SIM 081286178536NBMB5221840817338040,ESB:NBMB:0100101C:655417322631,NaN,Beli Pulsa Simpati 0812xxxx536 via BRImo
166,9,12301083861508,2024-08-12 19:11:28,2024-08-12 00:00:00,191128,0,081286178536|1SMS|09/08/2024-09/08/2024,2930500.0,750.0,0.0,2929750.0,Db,BRIMDBT,582,NaN,081286178536|1SMS|09/08/2024-09/08/2024,NaN,NaN,Biaya SMS Notifikasi Sejumlah 1 Notifikasi
20,1,12301083861508,2024-02-02 10:56:03,2024-02-02 00:00:00,105603,7395456,WBNKSTOR439301008245538TO012301083861508 ESB:W...,70000.0,0.0,1200000.0,1270000.0,Cr,0888122,1,8506.0,WBNKSTOR439301008245538TO012301083861508,ESB:WBNK:0303A00F:506362995779,NaN,WBNKSTOR439301008245538TO012301083861508
51,11,12301083861508,2024-03-07 12:06:44,2024-03-07 00:00:00,120644,105135,BRIVA88810088299538305NBMBDNID RISXX AUL BRIVA...,469000.0,100000.0,0.0,369000.0,Db,8888321,4,6669.0,BRIVA88810088299538305NBMBDNID RISXX AUL,ESB:NBMB:0200200P:657086249365,BRIVA 88810088299538305NBMBDNID RISXX AU,Top Up DANA RISXX AUL 0882xxxx305 via BRImo
252,16,12301083861508,2024-11-15 20:33:00,11/18/2024 0:00,203338,68398,NBMB ALUSTINA SUCI TO TEDI ALAMSYAH ESB:NBMB:0...,727700.0,90000.0,0.0,637700.0,Db,8888358,2,8506.0,NBMB ALUSTINA SUCI TO TEDI ALAMSYAH,ESB:NBMB:0001500F:763041547081,NaN,Transfer Ke Tedi Alamsyah via BRImo
76,14,12301083861508,2024-04-08 23:59:59,2024-04-08 00:00:00,235959,0,081286178536|1SMS|03/04/2024-03/04/2024,770500.0,750.0,0.0,769750.0,Db,DDY402,582,NaN,081286178536|1SMS|03/04/2024-03/04/2024,NaN,NaN,Biaya SMS Notifikasi Sejumlah 1 Notifikasi
29,10,12301083861508,2024-02-12 17:16:32,2024-02-12 00:00:00,171632,129565,BRIVA88810008561213099NBMBDNID 085612130 BRIVA...,363500.0,200000.0,0.0,163500.0,Db,8888360,4,6669.0,BRIVA88810008561213099NBMBDNID 085612130,ESB:NBMB:0200200P:647549018921,BRIVA 88810008561213099NBMBDNID 08561213,Top Up DANA 085612130 0085xxxx099 via BRImo
188,4,12301083861508,2024-09-04 19:26:09,2024-09-04 00:00:00,192609,0,081286178536|1SMS|02/09/2024-02/09/2024,1325250.0,750.0,0.0,1324500.0,Db,BRIMDBT,582,NaN,081286178536|1SMS|02/09/2024-02/09/2024,NaN,NaN,Biaya SMS Notifikasi Sejumlah 1 Notifikasi
248,12,12301083861508,2024-11-13 17:38:00,11/13/2024 0:00,173839,7126591,DANA20241113019652975401ALUSTINASUCI WS_OB;202...,427700.0,0.0,50000.0,477700.0,Cr,371858,5,8700.0,DANA20241113019652975401ALUSTINASUCI,ESB:T:0371858:S:0371892:WSOB,WS_OB;20241113019652975401;72133,DANA20241113019652975401ALUSTINASUCI
228,18,12301083861508,2024-10-20 08:10:38,2024-10-20 00:00:00,81038,141520,BFST012301083861508RIZAL ABROR :SYCAIDJ1 20241...,576450.0,0.0,15000.0,591450.0,Cr,8888632,1,8154.0,BFST012301083861508RIZAL ABROR :SYCAIDJ1,ESB:BFST:0008N:20241020FASTIDJA010059742,20241020SYCAIDJ1010O9904363182,BFST012301083861508RIZAL ABROR :SYCAIDJ1
243,7,12301083861508,2024-11-07 06:43:00,11/12/2024 0:00,64343,8001217,PUL-SIM 081286178536NBMB5221840817338040 ESB:N...,510700.0,100000.0,0.0,410700.0,Db,8888468,2,8508.0,PUL-SIM 081286178536NBMB5221840817338040,ESB:NBMB:0100101C:760125197924,NaN,Beli Pulsa Simpati 0812xxxx536 via BRImo
161,4,12301083861508,2024-08-06 13:42:14,2024-08-06 00:00:00,134214,9027111,BRIVA88810081219170019NBMBDNID NAJXX ALF BRIVA...,1118500.0,20000.0,0.0,1098500.0,Db,8888290,4,6669.0,BRIVA88810081219170019NBMBDNID NAJXX ALF,ESB:NBMB:0200200P:718589873789,BRIVA 88810081219170019NBMBDNID NAJXX AL,Top Up DANA NAJXX ALF 0812xxxx019 via BRImo
4,5,12301083861508,2024-01-02 11:12:00,1/2/2024 0:00,111258,24351,PUL-SIM 081286178536NBMB5221840817338040 ESB:N...,903000.0,15000.0,0.0,888000.0,Db,8888163,2,8508.0,PUL-SIM 081286178536NBMB5221840817338040,ESB:NBMB:0100101C:630454648676,NaN,Beli Pulsa Simpati 0812xxxx536 via BRImo
139,13,12301083861508,2024-07-21 19:47:37,2024-07-21 00:00:00,194737,145889,BRIVA88810083841385705NBMBDNID CAHXX NUR ESB:N...,7691000.0,150000.0,0.0,7541000.0,Db,8888573,4,6669.0,BRIVA88810083841385705NBMBDNID CAHXX NUR,ESB:NBMB:0200200P:712071029920,NaN,Top Up DANA CAHXX NUR 0838xxxx705 via BRImo
199,15,12301083861508,2024-09-13 12:28:31,2024-09-13 00:00:00,122831,807564,6013011130242596000000006925,878200.0,200000.0,0.0,678200.0,Db,0888316,2,9992.0,6013011130242596000000006925,NaN,NaN,6013011130242596000000006925
247,11,12301083861508,2024-11-12 22:13:00,11/12/2024 0:00,221332,74997,BFST012301083861508CAHYA NURLEL:BMRIIDJA 20241...,387700.0,0.0,40000.0,427700.0,Cr,8888705,1,8154.0,BFST012301083861508CAHYA NURLEL:BMRIIDJA,ESB:BFST:0008N:20241112FASTIDJA01057268878,20241112BMRIIDJA010O0220698454,BFST012301083861508CAHYA NURLEL:BMRIIDJA
95,7,12301083861508,2024-05-08 18:31:17,2024-05-08 00:00:00,183117,90925,NBMB DEYA DAMAYANTI TO ALUSTINA SUCI MAN ESB:N...,1530250.0,0.0,500000.0,2030250.0,Cr,8888264,1,8506.0,NBMB DEYA DAMAYANTI TO ALUSTINA SUCI MAN,ESB:NBMB:0001500F:682168144083,NaN,Transfer Dari Deya Damayanti via BRImo

In [ ]:
amin_df = pd.read_csv("dataset_amin.csv")
amin_df.sample(20)

,ID,NOREK,TGL_TRAN,TGL_EFEKTIF,JAM_TRAN,SEQ,DESK_TRAN,SALDO_AWAL_MUTASI,MUTASI_DEBET,MUTASI_KREDIT,SALDO_AKHIR_MUTASI,GLSIGN,TRUSER,KODE_TRAN,KODE_TRAN_TELLER,TRREMK,TLBDS1,TLBDS2,REMARK_CUSTOM
188,8,678701037253531,2024-06-10 10:55:21,2024-06-10 00:00:00,105521,0,089529961557|1SMS|03/06/2024-03/06/2024,1541300.27,750.0,0.0,1540550.27,Db,BRIMDBT,582,NaN,089529961557|1SMS|03/06/2024-03/06/2024,NaN,NaN,Biaya SMS Notifikasi Sejumlah 1 Notifikasi
1,2,678701037253531,2023-09-04 09:56:21,2023-09-04 00:00:00,95621,4168,089529961557 00056027 000000004168,1232020.27,200000.0,0.0,1032020.27,Db,9854029,2,2501.0,089529961557 00056027 000000004168,089529961557 00056027 000000004168,NaN,089529961557 00056027 000000004168
248,3,678701037253531,2024-09-06 13:21:27,2024-09-06 00:00:00,132127,9125772,BRIVA10182012203040202NBMBAMIN AFIF RAFI BRIVA...,900014.27,2000.0,0.0,898014.27,Db,8888396,4,6669.0,BRIVA10182012203040202NBMBAMIN AFIF RAFI,ESB:NBMB:0200200P:731269842757,BRIVA 10182012203040202NBMBAMIN AFIF RAF,BRIVA10182012203040202NBMBAMIN AFIF RAFI
15,16,678701037253531,2023-09-23 17:06:24,2023-09-23 00:00:00,170624,126082,THREE 089529961557NBMB6013010205151492 ESB:NBM...,146490.27,20000.0,0.0,126490.27,Db,8888279,2,8541.0,THREE 089529961557NBMB6013010205151492,ESB:NBMB:0100803C:587389217500,NaN,Beli Pulsa Three 0895xxxx557 via BRImo
273,3,678701037253531,2024-11-01 19:06:10,2024-11-01 19:06:10,190610,149377,BRIVA211410089529961557NBMBAMIN AFIF RAF ESB:N...,410725.27,360000.0,0.0,50725.27,Db,8888587,4,6669.0,BRIVA211410089529961557NBMBAMIN AFIF RAF,ESB:NBMB:0200200P:755495607822,BRIVA211410089529961557NBMBAMIN AFIF RAF,BRIVA211410089529961557NBMBAMIN AFIF RAF
171,19,678701037253531,2024-05-18 08:49:15,2024-05-18 00:00:00,84915,18128,089529961557 00162436 000000018128,2539904.27,200000.0,0.0,2339904.27,Db,9854519,2,2501.0,089529961557 00162436 000000018128,089529961557 00162436 000000018128,NaN,089529961557 00162436 000000018128
200,20,678701037253531,2024-06-24 18:16:20,2024-06-24 00:00:00,181620,9008060,NBMB NABILA SANDRA TO AMIN AFIF RAFI'I ESB:NBM...,427635.27,0.0,2000000.0,2427635.27,Cr,8888579,1,8506.0,NBMB NABILA SANDRA TO AMIN AFIF RAFI'I,ESB:NBMB:0001500F:700997618124,NaN,Transfer Dari Nabila Sandra via BRImo
91,18,678701037253531,2024-01-23 10:50:21,2024-01-23 00:00:00,105021,143358,BFST8930666999 NBMB:CENAIDJA 20240123BRINIDJA0...,60268.27,2500.0,0.0,57768.27,Db,8888349,2,9973.0,BFST8930666999 NBMB:CENAIDJA,ESB:NBMB:0008G00F:639145826981,20240123BRINIDJA010O0221835867,BFST8930666999 NBMB:CENAIDJA
106,15,678701037253531,2024-02-16 00:00:00,2024-02-16 00:00:00,0,0,Biaya Bulanan ATM,94283.27,2500.0,0.0,91783.27,Db,NaN,452,NaN,NaN,NaN,NaN,Biaya Bulanan ATM
220,14,678701037253531,2024-07-09 23:24:03,2024-07-09 00:00:00,232403,9151272,BRIVA211410089529961557NBMBAMIN AFIF RAF ESB:N...,688626.27,500000.0,0.0,188626.27,Db,8888149,4,6669.0,BRIVA211410089529961557NBMBAMIN AFIF RAF,ESB:NBMB:0200200P:707443551729,NaN,BRIVA211410089529961557NBMBAMIN AFIF RAF
43,9,678701037253531,2023-10-16 23:59:59,2023-10-16 00:00:00,235959,0,Admin Fee,88258.27,5500.0,0.0,82758.27,Db,NaN,453,NaN,NaN,NaN,NaN,Admin Fee
213,7,678701037253531,2024-07-04 19:14:17,2024-07-04 00:00:00,191417,71385,NBMB AMIN AFIF RAFI TO FLIPTECH LENTERA ESB:NB...,1476135.27,10130.0,0.0,1466005.27,Db,8888230,2,8508.0,NBMB AMIN AFIF RAFI TO FLIPTECH LENTERA,ESB:NBMB:0001500F:705317054767,NaN,Transfer Ke Fliptech Lentera via BRImo
54,7,678701037253531,2023-11-16 00:00:00,2023-11-16 00:00:00,0,0,Monthly Fee ATM,183637.27,2500.0,0.0,181137.27,Db,NaN,452,NaN,NaN,NaN,NaN,Monthly Fee ATM
224,18,678701037253531,2024-07-16 00:00:00,2024-07-16 00:00:00,0,0,Monthly Fee ATM,307126.27,2500.0,0.0,304626.27,Db,NaN,452,NaN,NaN,NaN,NaN,Monthly Fee ATM
115,8,678701037253531,2024-03-11 11:40:59,2024-03-11 00:00:00,114059,11288,089529961557 00986572 000000011288,355215.27,200000.0,0.0,155215.27,Db,9854670,2,2501.0,089529961557 00986572 000000011288,089529961557 00986572 000000011288,NaN,089529961557 00986572 000000011288
38,4,678701037253531,2023-10-04 17:33:53,2023-10-04 00:00:00,173353,88105,NBMB AMIN AFIF RAFI TO FLIPTECH LENTERA ESB:NB...,545490.27,376050.0,0.0,169440.27,Db,8888475,2,8508.0,NBMB AMIN AFIF RAFI TO FLIPTECH LENTERA,ESB:NBMB:0001500F:592242639025,NaN,Transfer Ke Fliptech Lentera via BRImo
62,7,678701037253531,2023-12-10 23:59:59,2023-12-10 00:00:00,235959,0,089529961557|1SMS|03/12/2023-03/12/2023,681437.27,500.0,0.0,680937.27,Db,DDY402,582,NaN,089529961557|1SMS|03/12/2023-03/12/2023,NaN,NaN,Biaya SMS Notifikasi Sejumlah 1 Notifikasi
151,29,678701037253531,2024-04-27 15:46:49,2024-04-27 00:00:00,154649,67365,GOP01 +6289529961557NBMB6013010205151492 ESB:N...,1265744.27,250000.0,0.0,1015744.27,Db,8888503,2,8508.0,GOP01 +6289529961557NBMB6013010205151492,ESB:NBMB:0201000T:677527373839,NaN,Top Up Gopay 0895xxxx557 via BRImo
64,9,678701037253531,2023-12-16 00:00:00,2023-12-16 00:00:00,0,0,Monthly Fee ATM,580937.27,2500.0,0.0,578437.27,Db,NaN,452,NaN,NaN,NaN,NaN,Monthly Fee ATM
246,1,678701037253531,2024-09-05 13:19:15,2024-09-05 00:00:00,131915,9205371,NBMB NABILA SANDRA TO AMIN AFIF RAFI'I ESB:NBM...,50014.27,0.0,1200000.0,1250014.27,Cr,8888206,1,8506.0,NBMB NABILA SANDRA TO AMIN AFIF RAFI'I,ESB:NBMB:0001500F:730816376289,NaN,Transfer Dari Nabila Sandra via BRImo

In [ ]:
def assessing_data(df):
    print(f"\n---TABLE INFO---\n")
    df.info()

    print(f"\n---MISSING VALUES---\n")
    print(df.isna().sum())

    print(f"\n---DUPLICATE DATA---\n")
    print(df.duplicated().sum())

    print(f"\n---STATISTICS PARAMETER---\n")
    print(df.describe())

In [ ]:
assessing_data(adit_df)

---TABLE INFO---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  78 non-null     int64
 1   NOREK               78 non-null     int64
 2   TGL_TRAN            78 non-null     object
 3   TGL_EFEKTIF         78 non-null     object
 4   JAM_TRAN            72 non-null     float64
 5   SEQ                 72 non-null     float64
 6   DESK_TRAN           78 non-null     object
 7   SALDO_AWAL_MUTASI   78 non-null     float64
 8   MUTASI_DEBET        78 non-null     float64
 9   MUTASI_KREDIT       78 non-null     float64
 10  SALDO_AKHIR_MUTASI  78 non-null     float64
 11  GLSIGN              72 non-null     object
 12  TRUSER              72 non-null     float64
 13  KODE_TRAN           72 non-null     float64
 14  KODE_TRAN_TELLER    72 non-null     float64
 15  TRREMK              71 non-null     object
 16  TLBDS1              61 non-null     object
 17  TLBDS2              52 non-null     object
 18  REMARK_CUSTOM       72 non-null     object
dtypes: float64(9), int64(2), object(8)
memory usage: 11.7+ KB

---MISSING VALUES---

ID                     0
NOREK                  0
TGL_TRAN               0
TGL_EFEKTIF            0
JAM_TRAN               6
SEQ                    6
DESK_TRAN              0
SALDO_AWAL_MUTASI      0
MUTASI_DEBET           0
MUTASI_KREDIT          0
SALDO_AKHIR_MUTASI     0
GLSIGN                 6
TRUSER                 6
KODE_TRAN              6
KODE_TRAN_TELLER       6
TRREMK                 7
TLBDS1                17
TLBDS2                26
REMARK_CUSTOM          6
dtype: int64

---DUPLICATE DATA---

0

---STATISTICS PARAMETER---

              ID         NOREK       JAM_TRAN           SEQ  \
count  78.000000  7.800000e+01      72.000000  7.200000e+01
mean    9.717949  4.791010e+14  141827.097222  1.582229e+06
std     7.769232  1.006473e+00   51557.517393  2.817608e+06
min     1.000000  4.791010e+14   62142.000000  1.702000e+03
25%     3.000000  4.791010e+14   94428.500000  4.148000e+04
50%     7.000000  4.791010e+14  123522.500000  1.028330e+05
75%    15.750000  4.791010e+14  191263.250000  1.175518e+06
max    28.000000  4.791010e+14  231647.000000  9.000009e+06

       SALDO_AWAL_MUTASI  MUTASI_DEBET  MUTASI_KREDIT  SALDO_AKHIR_MUTASI  \
count       7.800000e+01  7.800000e+01   7.800000e+01        7.800000e+01
mean        2.125674e+06  2.952443e+05   3.353846e+05        2.165814e+06
std         1.920600e+06  6.813437e+05   8.597394e+05        1.909586e+06
min         5.154780e+04  0.000000e+00   0.000000e+00        5.154780e+04
25%         3.332348e+05  0.000000e+00   0.000000e+00        3.689208e+05
50%         1.410298e+06  2.500000e+03   0.000000e+00        1.640922e+06
75%         3.395671e+06  2.505000e+05   0.000000e+00        3.395671e+06
max         7.619048e+06  3.203000e+06   4.575000e+06        7.619048e+06

             TRUSER  KODE_TRAN  KODE_TRAN_TELLER
count  7.200000e+01  72.000000         72.000000
mean   7.746357e+06   1.930556       8409.083333
std    3.061863e+06   0.810606       2390.666085
min    3.718510e+05   1.000000       2117.000000
25%    8.888068e+06   2.000000       8507.500000
50%    8.888291e+06   2.000000       8700.000000
75%    8.888528e+06   2.000000       9973.000000
max    9.966571e+06   5.000000       9973.000000

In [ ]:
assessing_data(alus_df)

---TABLE INFO---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  253 non-null    int64
 1   NOREK               253 non-null    int64
 2   TGL_TRAN            253 non-null    object
 3   TGL_EFEKTIF         253 non-null    object
 4   JAM_TRAN            253 non-null    int64
 5   SEQ                 253 non-null    int64
 6   DESK_TRAN           253 non-null    object
 7   SALDO_AWAL_MUTASI   253 non-null    float64
 8   MUTASI_DEBET        253 non-null    float64
 9   MUTASI_KREDIT       253 non-null    float64
 10  SALDO_AKHIR_MUTASI  253 non-null    float64
 11  GLSIGN              253 non-null    object
 12  TRUSER              233 non-null    object
 13  KODE_TRAN           253 non-null    int64
 14  KODE_TRAN_TELLER    213 non-null    float64
 15  TRREMK              233 non-null    object
 16  TLBDS1              192 non-null    object
 17  TLBDS2              95 non-null     object
 18  REMARK_CUSTOM       253 non-null    object
dtypes: float64(5), int64(5), object(9)
memory usage: 37.7+ KB

---MISSING VALUES---

ID                      0
NOREK                   0
TGL_TRAN                0
TGL_EFEKTIF             0
JAM_TRAN                0
SEQ                     0
DESK_TRAN               0
SALDO_AWAL_MUTASI       0
MUTASI_DEBET            0
MUTASI_KREDIT           0
SALDO_AKHIR_MUTASI      0
GLSIGN                  0
TRUSER                 20
KODE_TRAN               0
KODE_TRAN_TELLER       40
TRREMK                 20
TLBDS1                 61
TLBDS2                158
REMARK_CUSTOM           0
dtype: int64

---DUPLICATE DATA---

0

---STATISTICS PARAMETER---

               ID         NOREK       JAM_TRAN           SEQ  \
count  253.000000  2.530000e+02     253.000000  2.530000e+02
mean    12.652174  1.230108e+13  137295.596838  2.164927e+06
std      7.548097  0.000000e+00   61672.332774  3.497819e+06
min      1.000000  1.230108e+13       0.000000  0.000000e+00
25%      6.000000  1.230108e+13   93929.000000  2.252600e+04
50%     12.000000  1.230108e+13  133108.000000  1.044490e+05
75%     19.000000  1.230108e+13  191109.000000  4.326253e+06
max     31.000000  1.230108e+13  235959.000000  9.894400e+06

       SALDO_AWAL_MUTASI  MUTASI_DEBET  MUTASI_KREDIT  SALDO_AKHIR_MUTASI  \
count       2.530000e+02  2.530000e+02   2.530000e+02        2.530000e+02
mean        1.537512e+06  1.150644e+05   1.109170e+05        1.533365e+06
std         1.811024e+06  3.909758e+05   5.924477e+05        1.811881e+06
min         7.000000e+04  0.000000e+00   0.000000e+00        7.000000e+04
25%         5.115000e+05  1.500000e+03   0.000000e+00        5.115000e+05
50%         8.360000e+05  6.000000e+03   0.000000e+00        8.330000e+05
75%         1.540500e+06  1.000000e+05   0.000000e+00        1.539750e+06
max         8.795500e+06  3.000000e+06   7.000000e+06        8.795500e+06

        KODE_TRAN  KODE_TRAN_TELLER
count  253.000000        213.000000
mean    83.865613       8413.380282
std    189.942780       1216.735034
min      1.000000       2501.000000
25%      2.000000       8154.000000
50%      2.000000       8508.000000
75%      4.000000       8700.000000
max    582.000000       9992.000000

In [ ]:
assessing_data(amin_df)

---TABLE INFO---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281 entries, 0 to 280
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  281 non-null    int64
 1   NOREK               281 non-null    int64
 2   TGL_TRAN            281 non-null    object
 3   TGL_EFEKTIF         281 non-null    object
 4   JAM_TRAN            281 non-null    int64
 5   SEQ                 281 non-null    int64
 6   DESK_TRAN           281 non-null    object
 7   SALDO_AWAL_MUTASI   281 non-null    float64
 8   MUTASI_DEBET        281 non-null    float64
 9   MUTASI_KREDIT       281 non-null    float64
 10  SALDO_AKHIR_MUTASI  281 non-null    float64
 11  GLSIGN              281 non-null    object
 12  TRUSER              249 non-null    object
 13  KODE_TRAN           281 non-null    int64
 14  KODE_TRAN_TELLER    219 non-null    float64
 15  TRREMK              249 non-null    object
 16  TLBDS1              219 non-null    object
 17  TLBDS2              67 non-null     object
 18  REMARK_CUSTOM       281 non-null    object
dtypes: float64(5), int64(5), object(9)
memory usage: 41.8+ KB

---MISSING VALUES---

ID                      0
NOREK                   0
TGL_TRAN                0
TGL_EFEKTIF             0
JAM_TRAN                0
SEQ                     0
DESK_TRAN               0
SALDO_AWAL_MUTASI       0
MUTASI_DEBET            0
MUTASI_KREDIT           0
SALDO_AKHIR_MUTASI      0
GLSIGN                  0
TRUSER                 32
KODE_TRAN               0
KODE_TRAN_TELLER       62
TRREMK                 32
TLBDS1                 62
TLBDS2                214
REMARK_CUSTOM           0
dtype: int64

---DUPLICATE DATA---

0

---STATISTICS PARAMETER---

               ID         NOREK       JAM_TRAN           SEQ  \
count  281.000000  2.810000e+02     281.000000  2.810000e+02
mean    10.416370  6.787010e+14  136781.964413  1.006565e+06
std      6.841649  2.629683e+00   66852.756462  2.684318e+06
min      1.000000  6.787010e+14       0.000000  0.000000e+00
25%      5.000000  6.787010e+14   91714.000000  1.773000e+03
50%      9.000000  6.787010e+14  140956.000000  4.292300e+04
75%     15.000000  6.787010e+14  190705.000000  1.267400e+05
max     30.000000  6.787010e+14  235959.000000  9.295206e+06

       SALDO_AWAL_MUTASI  MUTASI_DEBET  MUTASI_KREDIT  SALDO_AKHIR_MUTASI  \
count       2.810000e+02  2.810000e+02   2.810000e+02        2.810000e+02
mean        8.389935e+05  1.659982e+05   1.659440e+05        8.389392e+05
std         1.083809e+06  5.817941e+05   8.237038e+05        1.083849e+06
min         2.901427e+04  0.000000e+00   0.000000e+00        2.901427e+04
25%         1.836373e+05  7.500000e+02   0.000000e+00        1.836373e+05
50%         5.451293e+05  1.600000e+04   0.000000e+00        5.451293e+05
75%         1.250014e+06  2.000000e+05   0.000000e+00        1.250014e+06
max         1.268378e+07  7.845000e+06   1.204500e+07        1.268378e+07

        KODE_TRAN  KODE_TRAN_TELLER
count  281.000000        219.000000
mean   115.366548       7112.452055
std    215.267668       2301.761131
min      1.000000       2501.000000
25%      2.000000       6669.000000
50%      2.000000       8506.000000
75%      4.000000       8508.000000
max    582.000000       9973.000000

In [ ]:
def preprocess_data(data):
  # Menambahkan kolom baru
  data['amount'] = data['MUTASI_DEBET'] + data['MUTASI_KREDIT']

  # Menghapus kolom tidak terpakai
  data.drop(["ID","NOREK","TGL_EFEKTIF","JAM_TRAN","SEQ","DESK_TRAN","SALDO_AWAL_MUTASI",
             "MUTASI_DEBET", "MUTASI_KREDIT", "SALDO_AKHIR_MUTASI","TRUSER","KODE_TRAN",
             "KODE_TRAN_TELLER","TRREMK", "TLBDS1","TLBDS2","REMARK_CUSTOM"],
            axis = 1, inplace= True)

  # Mengganti nama kolom
  data.rename(columns={'TGL_TRAN':'date','GLSIGN':'transaction_type'}, inplace=True)

  # Mengganti isi kolom
  data['transaction_type'] = data['transaction_type'].replace({'Cr': 'Income', 'Db': 'Expense'})

  # Mengkonversi tipe data
  data['date'] = pd.to_datetime(data['date']).dt.date
  data['amount'] = pd.to_numeric(data['amount'])
  data['transaction_type'] = data['transaction_type'].astype('category')

  # Menghapus baris dengan missing value
  data.dropna(inplace=True)

  # Mengurutkan data
  data.sort_values(by='date', ascending=True)

  return data

In [ ]:
preprocess_data(adit_df)

          date transaction_type     amount
0   2024-01-29           Income  2735000.0
1   2024-01-30           Income   300000.0
2   2024-01-30          Expense  2800000.0
3   2024-01-30          Expense     2500.0
4   2024-01-31          Expense   240000.0
..         ...              ...        ...
73  2024-11-18           Income   700000.0
74  2024-11-18          Expense   437000.0
75  2024-11-18          Expense     2500.0
76  2024-11-18          Expense   150000.0
77  2024-11-18          Expense     2500.0

[72 rows x 3 columns]

In [ ]:
preprocess_data(alus_df)

           date transaction_type    amount
0    2024-01-02          Expense  680000.0
1    2024-01-02          Expense    2500.0
2    2024-01-02          Expense  100000.0
3    2024-01-02          Expense    1500.0
4    2024-01-02          Expense   15000.0
..          ...              ...       ...
248  2024-11-13           Income   50000.0
249  2024-11-14          Expense   30000.0
250  2024-11-15          Expense   20000.0
251  2024-11-15           Income  300000.0
252  2024-11-15          Expense   90000.0

[253 rows x 3 columns]

In [ ]:
preprocess_data(amin_df)

           date transaction_type     amount
0    2023-09-01           Income  1200000.0
1    2023-09-04          Expense   200000.0
2    2023-09-04           Income   100000.0
3    2023-09-04          Expense   100000.0
4    2023-09-04          Expense   100000.0
..          ...              ...        ...
276  2024-11-05           Income   500000.0
277  2024-11-05          Expense   700000.0
278  2024-11-10          Expense     3000.0
279  2024-11-16          Expense     2500.0
280  2024-11-16          Expense     5500.0

[281 rows x 3 columns]

In [ ]:
data = pd.concat([adit_df, alus_df, amin_df]).sort_values(by='date', ascending=True)
data.to_csv("merger_dataset.csv", index=False)

In [ ]:
import json

pd.read_csv("merger_dataset.csv").to_json("merger_dataset.json", orient="records")