<a href="https://colab.research.google.com/github/itsmaul/bangkit-capstone/blob/main/Clean_TrainingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
adit_df = pd.read_csv("dataset_adit.csv")
adit_df.sample(20)

,ID,NOREK,TGL_TRAN,TGL_EFEKTIF,JAM_TRAN,SEQ,DESK_TRAN,SALDO_AWAL_MUTASI,MUTASI_DEBET,MUTASI_KREDIT,SALDO_AKHIR_MUTASI,GLSIGN,TRUSER,KODE_TRAN,KODE_TRAN_TELLER,TRREMK,TLBDS1,TLBDS2,REMARK_CUSTOM
35,8,479101005292506,2024-10-29 13:19:05,2024-10-29 13:19:05,131905.0,105568.0,BFST479101005292506ADITYA DAFFA:BTANIDJA 20241...,4819047.8,0.0,800000.0,5619047.8,Cr,8888692.0,1.0,8154.0,BFST479101005292506ADITYA DAFFA:BTANIDJA,ESB:BFST:0008N:20241029FASTIDJA010267860,20241029BTANIDJA010O0241997162,BFST479101005292506ADITYA DAFFA:BTANIDJA
66,17,479101005292506,2024-11-11 09:07:16,2024-11-11 09:07:16,90716.0,22140.0,BRIVA149010081385781304NBMBSURATUN ESB:NBMB:02...,4644995.8,524000.0,0.0,4120995.8,Db,8888487.0,4.0,6669.0,BRIVA149010081385781304NBMBSURATUN,ESB:NBMB:0200200P:759696043499,BRIVA149010081385781304NBMBSURATUN,BRIVA149010081385781304NBMBSURATUN
44,17,479101005292506,2024-10-30 08:08:51,2024-10-30 08:08:51,80851.0,141447.0,BFST7390596981 NBMB:CENAIDJA 20241030BRINIDJA0...,473295.8,2500.0,0.0,470795.8,Db,8888460.0,2.0,9973.0,BFST7390596981 NBMB:CENAIDJA,ESB:NBMB:0008G00F:754184296903,20241030BRINIDJA010O0244793784,BFST7390596981 NBMB:CENAIDJA
17,1,479101005292506,2024-06-01 00:00:00,2024-06-01 00:00:00,NaN,NaN,Transaksi tidak ditemukan,71547.8,0.0,0.0,71547.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3,479101005292506,2024-02-26 19:14:43,2024-02-26 19:14:43,191443.0,26552.0,601301085548007600260847,3626547.8,200000.0,0.0,3426547.8,Db,9892540.0,2.0,2501.0,601301085548007600260847,NaN,NaN,601301085548007600260847
36,9,479101005292506,2024-10-29 22:49:58,2024-10-29 22:49:58,224958.0,111674.0,BFST479101005292506AHYARBACHTIA:BSMDIDJA 20241...,5619047.8,0.0,2000000.0,7619047.8,Cr,8888663.0,1.0,8154.0,BFST479101005292506AHYARBACHTIA:BSMDIDJA,ESB:BFST:0008N:20241029FASTIDJA010946338,20241029BSMDIDJA010O0244634022,BFST479101005292506AHYARBACHTIA:BSMDIDJA
6,1,479101005292506,2024-02-26 18:09:20,2024-02-26 18:09:20,180920.0,7007018.0,2024022692285007312 WS_OB;2024022692285007312;...,51547.8,0.0,4575000.0,4626547.8,Cr,371854.0,5.0,8700.0,2024022692285007312,ESB:T:0371854:S:0371892:WSOB,WS_OB;2024022692285007312;44409,2024022692285007312
29,2,479101005292506,2024-10-22 12:06:54,2024-10-22 12:06:54,120654.0,2299.0,601301085548007600080405,1021547.8,500000.0,0.0,521547.8,Db,9930344.0,2.0,2501.0,601301085548007600080405,NaN,NaN,601301085548007600080405
70,21,479101005292506,2024-11-11 10:46:54,2024-11-11 10:46:54,104654.0,83094.0,BFST7391631283 NBMB:CENAIDJA 20241111BRINIDJA0...,3239495.8,2500.0,0.0,3236995.8,Db,8888068.0,2.0,9973.0,BFST7391631283 NBMB:CENAIDJA,ESB:NBMB:0008G00F:759740290647,20241111BRINIDJA010O0226238270,BFST7391631283 NBMB:CENAIDJA
22,4,479101005292506,2024-08-20 20:11:20,2024-08-20 20:11:20,201120.0,7047524.0,DANA20240820018538963998ADITYADAFFAS WS_OB;202...,421547.8,0.0,250000.0,671547.8,Cr,371851.0,5.0,8700.0,DANA20240820018538963998ADITYADAFFAS,ESB:T:0371851:S:0371892:WSOB,WS_OB;20240820018538963998;72133,DANA20240820018538963998ADITYADAFFAS
1,2,479101005292506,2024-01-30 08:17:57,2024-01-30 08:17:57,81757.0,1148145.0,6034947127090224#300817310373#MP #TRFHMB LN 47...,2796547.8,0.0,300000.0,3096547.8,Cr,888072.0,1.0,8514.0,6034947127090224#300817310373#MP #TRFHMB,LN 479101005292506MP 6034947127090224,NaN,6034947127090224#300817310373#MP #TRFHMB
24,6,479101005292506,2024-08-21 06:21:42,2024-08-21 06:21:42,62142.0,2118.0,601301085548007600051368,1371547.8,1000000.0,0.0,371547.8,Db,9966111.0,2.0,2501.0,601301085548007600051368,NaN,NaN,601301085548007600051368
5,6,479101005292506,2024-01-31 09:48:19,2024-01-31 09:48:19,94819.0,83068.0,BFST7127090224 NBMB:BSMDIDJA 20240131BRINIDJA0...,54047.8,2500.0,0.0,51547.8,Db,8888599.0,2.0,9973.0,BFST7127090224 NBMB:BSMDIDJA,ESB:NBMB:0008G00F:642414285324,20240131BRINIDJA010O0237047376,BFST7127090224 NBMB:BSMDIDJA
76,27,479101005292506,2024-11-18 12:38:36,2024-11-18 12:38:36,123836.0,63915.0,BFST8850786179 NBMB:CENAIDJA 20241118BRINIDJA0...,3344995.8,150000.0,0.0,3194995.8,Db,8888187.0,2.0,9973.0,BFST8850786179 NBMB:CENAIDJA,ESB:NBMB:0008G00F:762830254119,20241118BRINIDJA010O0247999876,BFST8850786179 NBMB:CENAIDJA
73,24,479101005292506,2024-11-18 09:32:57,2024-11-18 09:32:57,93257.0,5200402.0,5899290032859480#000000002534#ATM #TRFLA TRF B...,3084495.8,0.0,700000.0,3784495.8,Cr,888815.0,1.0,8514.0,5899290032859480#000000002534#ATM #TRFLA,LA 479101005292506ATM 5899290032859480,TRF BERSAMA FROM AMAT BIN ITA,Transfer Antar Bank Dari Amat Bin Ita
65,16,479101005292506,2024-11-08 18:31:57,2024-11-08 18:31:57,183157.0,5860148.0,PRTT601301085548007605860148#10157795,4734795.8,89800.0,0.0,4644995.8,Db,852972.0,2.0,8522.0,PRTT601301085548007605860148#10157795,PRTT601301085548007605860148#10157795,NaN,Pembayaran Merchant Idm F282-bumi Setia Mekar ...
41,14,479101005292506,2024-10-30 08:03:35,2024-10-30 08:03:35,80335.0,5064008.0,PLNPOST 537110282660NBMB6013010855480076 ESB:N...,1407047.8,810752.0,0.0,596295.8,Db,8888050.0,2.0,8508.0,PLNPOST 537110282660NBMB6013010855480076,ESB:NBMB:20005PLN:754182613805,NaN,Bayar Tagihan PLN 537110282660 via BRImo
40,13,479101005292506,2024-10-30 08:02:25,2024-10-30 08:02:25,80225.0,101424.0,6013010855480076#754182244496#NBMB#TRFLA LA167...,1413547.8,6500.0,0.0,1407047.8,Db,8888286.0,2.0,8508.0,6013010855480076#754182244496#NBMB#TRFLA,ESB:NBMB:0005N00F:754182244496,LA167891050001200093NBMB6013010855480076,6013010855480076#754182244496#NBMB#TRFLA
4,5,479101005292506,2024-01-31 09:48:19,2024-01-31 09:48:19,94819.0,83068.0,BFST7127090224 NBMB:BSMDIDJA 20240131BRINIDJA0...,294047.8,240000.0,0.0,54047.8,Db,8888599.0,2.0,9973.0,BFST7127090224 NBMB:BSMDIDJA,ESB:NBMB:0008G00F:642414285324,20240131BRINIDJA010O0237047376,BFST7127090224 NBMB:BSMDIDJA
54,5,479101005292506,2024-11-04 11:52:07,2024-11-04 11:52:07,115207.0,3648.0,BFST7391631283 NBMB:CENAIDJA 20241104BRINIDJA0...,3833295.8,437000.0,0.0,3396295.8,Db,8888151.0,2.0,9973.0,BFST7391631283 NBMB:CENAIDJA,ESB:NBMB:0008G00F:756668815959,20241104BRINIDJA010O0200475798,BFST7391631283 NBMB:CENAIDJA

In [3]:
alus_df = pd.read_csv("dataset_alus.csv")
alus_df.sample(20)

,ID,NOREK,TGL_TRAN,TGL_EFEKTIF,JAM_TRAN,SEQ,DESK_TRAN,SALDO_AWAL_MUTASI,MUTASI_DEBET,MUTASI_KREDIT,SALDO_AKHIR_MUTASI,GLSIGN,TRUSER,KODE_TRAN,KODE_TRAN_TELLER,TRREMK,TLBDS1,TLBDS2,REMARK_CUSTOM
251,15,12301083861508,2024-11-15 21:50:00,11/15/2024 0:00,215043,7008180,DANA20241115019682597995ERIEJUWITA WS_OB;20241...,427700.0,0.0,300000.0,727700.0,Cr,371877,5,8700.0,DANA20241115019682597995ERIEJUWITA,ESB:T:0371877:S:0371892:WSOB,WS_OB;20241115019682597995;72133,DANA20241115019682597995ERIEJUWITA
117,2,12301083861508,2024-06-06 03:17:58,2024-06-06 00:00:00,31758,20811,BFST1730016378474 NBMB:BMRIIDJA 20240606BRINID...,657750.0,100500.0,0.0,557250.0,Db,8888451,2,9973.0,BFST1730016378474 NBMB:BMRIIDJA,ESB:NBMB:0008G00F:693665642534,20240606BRINIDJA010O0234545384,BFST1730016378474 NBMB:BMRIIDJA
241,5,12301083861508,2024-11-04 19:26:00,11/4/2024 0:00,192614,0,081286178536|1SMS|02/11/2024-02/11/2024,561450.0,750.0,0.0,560700.0,Db,BRIMDBT,582,NaN,081286178536|1SMS|02/11/2024-02/11/2024,NaN,NaN,Biaya SMS Notifikasi Sejumlah 1 Notifikasi
62,22,12301083861508,2024-03-28 23:59:59,2024-03-28 00:00:00,235959,0,081286178536|1SMS|23/03/2024-23/03/2024,1238000.0,750.0,0.0,1237250.0,Db,DDY402,582,NaN,081286178536|1SMS|23/03/2024-23/03/2024,NaN,NaN,Biaya SMS Notifikasi Sejumlah 1 Notifikasi
181,24,12301083861508,2024-08-23 18:56:35,2024-08-23 00:00:00,185635,250188,6013011130242596000000599717,2220250.0,200000.0,0.0,2020250.0,Db,0888334,2,9992.0,6013011130242596000000599717,NaN,NaN,6013011130242596000000599717
213,3,12301083861508,2024-10-03 17:16:16,2024-10-03 00:00:00,171616,9027997,PUL-SIM 081286178536NBMB5221840817338040 ESB:N...,537450.0,1500.0,0.0,535950.0,Db,8888311,2,8508.0,PUL-SIM 081286178536NBMB5221840817338040,ESB:NBMB:0100101C:742820551925,NaN,Beli Pulsa Simpati 0812xxxx536 via BRImo
203,19,12301083861508,2024-09-19 16:38:32,2024-09-19 00:00:00,163832,128959,BFST18101610149678 NBMB:BTANIDJA 20240919BRINI...,525200.0,2500.0,0.0,522700.0,Db,8888561,2,9973.0,BFST18101610149678 NBMB:BTANIDJA,ESB:NBMB:0008G00F:736714814134,20240919BRINIDJA010O0236668656,BFST18101610149678 NBMB:BTANIDJA
14,15,12301083861508,2024-01-23 07:40:00,1/23/2024 0:00,74045,5084097,EDC DEYA DAMAYANTI TO ALUSTINA SUCI M FROM4329...,422000.0,0.0,5000000.0,5422000.0,Cr,852416,1,8506.0,EDC DEYA DAMAYANTI TO ALUSTINA SUCI M,FROM432901018417534 TO012301083861508EDC,NaN,Transfer Dari Deya Damayanti via EDC
188,4,12301083861508,2024-09-04 19:26:09,2024-09-04 00:00:00,192609,0,081286178536|1SMS|02/09/2024-02/09/2024,1325250.0,750.0,0.0,1324500.0,Db,BRIMDBT,582,NaN,081286178536|1SMS|02/09/2024-02/09/2024,NaN,NaN,Biaya SMS Notifikasi Sejumlah 1 Notifikasi
252,16,12301083861508,2024-11-15 20:33:00,11/18/2024 0:00,203338,68398,NBMB ALUSTINA SUCI TO TEDI ALAMSYAH ESB:NBMB:0...,727700.0,90000.0,0.0,637700.0,Db,8888358,2,8506.0,NBMB ALUSTINA SUCI TO TEDI ALAMSYAH,ESB:NBMB:0001500F:763041547081,NaN,Transfer Ke Tedi Alamsyah via BRImo
75,13,12301083861508,2024-04-07 22:08:43,2024-04-07 00:00:00,220843,13343,BFST1730012716560 NBMB:BMRIIDJA 20240407BRINID...,773000.0,2500.0,0.0,770500.0,Db,8888131,2,9973.0,BFST1730012716560 NBMB:BMRIIDJA,ESB:NBMB:0008G00F:670521121918,20240407BRINIDJA010O0226054613,BFST1730012716560 NBMB:BMRIIDJA
150,24,12301083861508,2024-07-30 08:36:22,2024-07-30 00:00:00,83622,61860,BFST012301083861508ALFIA MEILAN:PDJBIDJA ESB:B...,7795500.0,0.0,1000000.0,8795500.0,Cr,8888630,1,8154.0,BFST012301083861508ALFIA MEILAN:PDJBIDJA,ESB:BFST:0008N:20240730FASTIDJA010625917,NaN,BFST012301083861508ALFIA MEILAN:PDJBIDJA
143,17,12301083861508,2024-07-22 10:17:53,2024-07-22 00:00:00,101753,9022884,PUL-SIM 081286178536NBMB5221840817338040 ESB:N...,7419500.0,1500.0,0.0,7418000.0,Db,8888347,2,8508.0,PUL-SIM 081286178536NBMB5221840817338040,ESB:NBMB:0100101C:712236569116,NaN,Beli Pulsa Simpati 0812xxxx536 via BRImo
105,17,12301083861508,2024-05-20 00:00:00,2024-05-20 00:00:00,0,0,Monthly Fee ATM,1187250.0,1000.0,0.0,1186250.0,Db,NaN,452,NaN,NaN,NaN,NaN,Monthly Fee ATM
72,10,12301083861508,2024-04-03 18:27:13,2024-04-03 00:00:00,182713,52787,BRIVA88810085779048190NBMBDNID MISXXX AU BRIVA...,899250.0,100500.0,0.0,798750.0,Db,8888533,4,6669.0,BRIVA88810085779048190NBMBDNID MISXXX AU,ESB:NBMB:0200200P:668447118271,BRIVA 88810085779048190NBMBDNID MISXXX A,Top Up DANA MISXXX AU 0857xxxx190 via BRImo
183,26,12301083861508,2024-08-24 16:36:40,2024-08-24 00:00:00,163640,7126358,DANA20240824018551960501ALUSTINASUCI WS_OB;202...,2012750.0,0.0,100000.0,2112750.0,Cr,0371875,5,8700.0,DANA20240824018551960501ALUSTINASUCI,ESB:T:0371875:S:0371892:WSOB,WS_OB;20240824018551960501;72133,DANA20240824018551960501ALUSTINASUCI
229,19,12301083861508,2024-10-20 19:08:24,2024-10-20 00:00:00,190824,126255,BRIVA88810085214035324NBMBDNID LUTXXX SI BRIVA...,591450.0,80000.0,0.0,511450.0,Db,8888539,4,6669.0,BRIVA88810085214035324NBMBDNID LUTXXX SI,ESB:NBMB:0200200P:750148493209,BRIVA 88810085214035324NBMBDNID LUTXXX S,Top Up DANA LUTXXX SI 0852xxxx324 via BRImo
141,15,12301083861508,2024-07-22 10:17:18,2024-07-22 00:00:00,101718,9002882,PUL-SIM 081286178536NBMB5221840817338040 ESB:N...,7521000.0,1500.0,0.0,7519500.0,Db,8888206,2,8508.0,PUL-SIM 081286178536NBMB5221840817338040,ESB:NBMB:0100101C:712236349452,NaN,Beli Pulsa Simpati 0812xxxx536 via BRImo
163,6,12301083861508,2024-08-08 18:58:20,2024-08-08 00:00:00,185820,9009706,BRIVA112081286178536NBMBaXXXXXXXXXXi BRIVA 112...,998500.0,30000.0,0.0,968500.0,Db,8888176,4,6669.0,BRIVA112081286178536NBMBaXXXXXXXXXXi,ESB:NBMB:0200200P:719544354995,BRIVA 112081286178536NBMBaXXXXXXXXXXi,Top Up Shopee aXXXXXXXXXXi 0812xxxx536 via BRImo
125,10,12301083861508,2024-06-29 07:26:39,2024-06-29 00:00:00,72639,7120958,DANA20240629017913396086NAJMAALFISYA WS_OB;202...,493750.0,0.0,45000.0,538750.0,Cr,0371876,5,8700.0,DANA20240629017913396086NAJMAALFISYA,ESB:T:0371876:S:0371892:WSOB,WS_OB;20240629017913396086;72133,DANA20240629017913396086NAJMAALFISYA

In [4]:
amin_df = pd.read_csv("dataset_amin.csv")
amin_df.sample(20)

,ID,NOREK,TGL_TRAN,TGL_EFEKTIF,JAM_TRAN,SEQ,DESK_TRAN,SALDO_AWAL_MUTASI,MUTASI_DEBET,MUTASI_KREDIT,SALDO_AKHIR_MUTASI,GLSIGN,TRUSER,KODE_TRAN,KODE_TRAN_TELLER,TRREMK,TLBDS1,TLBDS2,REMARK_CUSTOM
17,18,678701037253531,2023-09-26 12:56:48,2023-09-26 00:00:00,125648,44395,BRIVA88810085727685726NBMBDNID SYAXXXXX BRIVA ...,116490.27,20000.0,0.0,96490.27,Db,8888308,4,6669.0,BRIVA88810085727685726NBMBDNID SYAXXXXX,ESB:NBMB:0200200P:588540799546,BRIVA 88810085727685726NBMBDNID SYAXXXXX,Top Up DANA SYAXXXXX 0857xxxx726 via BRImo
79,6,678701037253531,2024-01-09 17:49:42,2024-01-09 00:00:00,174942,48512,GOP01 +6289529961557NBMB6013010205151492 ESB:N...,645446.27,20000.0,0.0,625446.27,Db,8888525,2,8508.0,GOP01 +6289529961557NBMB6013010205151492,ESB:NBMB:0201000T:633596058381,NaN,Top Up Gopay 0895xxxx557 via BRImo
179,27,678701037253531,2024-05-28 14:09:56,2024-05-28 00:00:00,140956,26667,BRIVA128089529961557NBMBdXXXXXXX1 BRIVA 128089...,1837904.27,751900.0,0.0,1086004.27,Db,8888023,4,6669.0,BRIVA128089529961557NBMBdXXXXXXX1,ESB:NBMB:0200200P:689846691322,BRIVA 128089529961557NBMBdXXXXXXX1,BRIVA128089529961557NBMBdXXXXXXX1
16,17,678701037253531,2023-09-24 20:58:03,2023-09-24 00:00:00,205803,107373,BRIVA112085647935282NBMBdXXXXv BRIVA 112085647...,126490.27,10000.0,0.0,116490.27,Db,8888506,4,6669.0,BRIVA112085647935282NBMBdXXXXv,ESB:NBMB:0200200P:587831926306,BRIVA 112085647935282NBMBdXXXXv,Top Up Shopee dXXXXv 0856xxxx282 via BRImo
37,3,678701037253531,2023-10-04 15:59:27,2023-10-04 00:00:00,155927,7374,THREE 089529961557NBMB6013010205151492 ESB:NBM...,695490.27,150000.0,0.0,545490.27,Db,8888581,2,8541.0,THREE 089529961557NBMB6013010205151492,ESB:NBMB:0100803C:592203649163,NaN,Beli Pulsa Three 0895xxxx557 via BRImo
135,13,678701037253531,2024-04-12 11:08:48,2024-04-12 00:00:00,110848,143356,PUL-SIM 081327263089NBMB6013010205151492 ESB:N...,627465.27,1500.0,0.0,625965.27,Db,8888399,2,8508.0,PUL-SIM 081327263089NBMB6013010205151492,ESB:NBMB:0100101C:672048778223,NaN,Beli Pulsa Simpati 0813xxxx089 via BRImo
70,15,678701037253531,2023-12-29 15:18:28,2023-12-29 00:00:00,151828,7527,QRIS628813743218#9360000210043076322 ESB:NBMB:...,545129.27,337100.0,0.0,208029.27,Db,8888373,2,8508.0,QRIS628813743218#9360000210043076322,ESB:NBMB:0007I00P:628813743218,QRIS628813743218#9360000210043076322,Bayar QRIS Non BRI Merchant: QRIS628813743218
253,8,678701037253531,2024-09-19 16:18:07,2024-09-19 00:00:00,161807,48752,NBMB AMIN AFIF RAFI TO FLIPTECH LENTERA ESB:NB...,288514.27,250131.0,0.0,38383.27,Db,8888097,2,8508.0,NBMB AMIN AFIF RAFI TO FLIPTECH LENTERA,ESB:NBMB:0001500F:736707049014,NaN,Transfer Ke Fliptech Lentera via BRImo
6,7,678701037253531,2023-09-08 16:02:53,2023-09-08 00:00:00,160253,505049,THREE 089529961557NBMB6013010205151492 ESB:NBM...,931520.27,50000.0,0.0,881520.27,Db,8888589,2,8541.0,THREE 089529961557NBMB6013010205151492,ESB:NBMB:0100803C:581373935877,NaN,Beli Pulsa Three 0895xxxx557 via BRImo
124,2,678701037253531,2024-04-01 16:40:40,2024-04-01 00:00:00,164040,1478,089529961557 00050885 000000001478,1249215.27,200000.0,0.0,1049215.27,Db,9854356,2,2501.0,089529961557 00050885 000000001478,089529961557 00050885 000000001478,NaN,089529961557 00050885 000000001478
69,14,678701037253531,2023-12-29 11:10:27,2023-12-29 00:00:00,111027,29212,089529961557 00056027 000000029212,645129.27,100000.0,0.0,545129.27,Db,9854029,2,2501.0,089529961557 00056027 000000029212,089529961557 00056027 000000029212,NaN,089529961557 00056027 000000029212
172,20,678701037253531,2024-05-18 09:13:03,2024-05-18 00:00:00,91303,18142,089529961557 00162436 000000018142,2339904.27,800000.0,0.0,1539904.27,Db,9854519,2,2501.0,089529961557 00162436 000000018142,089529961557 00162436 000000018142,NaN,089529961557 00162436 000000018142
193,13,678701037253531,2024-06-16 00:00:00,2024-06-16 00:00:00,0,0,Monthly Fee ATM,539649.27,2500.0,0.0,537149.27,Db,NaN,452,NaN,NaN,NaN,NaN,Monthly Fee ATM
251,6,678701037253531,2024-09-16 00:00:00,2024-09-16 00:00:00,0,0,Biaya Bulanan ATM,296514.27,2500.0,0.0,294014.27,Db,NaN,452,NaN,NaN,NaN,NaN,Biaya Bulanan ATM
237,10,678701037253531,2024-08-15 14:00:47,2024-08-15 00:00:00,140047,66361,BRIVA10182012203040202NBMBAMIN AFIF RAFI BRIVA...,4372514.27,4245000.0,0.0,127514.27,Db,8888078,4,6669.0,BRIVA10182012203040202NBMBAMIN AFIF RAFI,ESB:NBMB:0200200P:722219121816,BRIVA 10182012203040202NBMBAMIN AFIF RAF,BRIVA10182012203040202NBMBAMIN AFIF RAFI
235,8,678701037253531,2024-08-14 18:50:27,2024-08-14 00:00:00,185027,14676,089529961557 00260405 000000014676,4572514.27,100000.0,0.0,4472514.27,Db,9854667,2,2501.0,089529961557 00260405 000000014676,089529961557 00260405 000000014676,NaN,089529961557 00260405 000000014676
35,1,678701037253531,2023-10-01 10:53:42,2023-10-01 00:00:00,105342,383184,NBMB NABILA SANDRA TO AMIN AFIF RAFI'I ESB:NBM...,195490.27,0.0,1200000.0,1395490.27,Cr,8888053,1,8506.0,NBMB NABILA SANDRA TO AMIN AFIF RAFI'I,ESB:NBMB:0001500F:590669616965,NaN,Transfer Dari Nabila Sandra via BRImo
164,12,678701037253531,2024-05-08 18:34:51,2024-05-08 00:00:00,183451,110919,QRIS682169736543#9360000210043076322 ESB:NBMB:...,1912904.27,239800.0,0.0,1673104.27,Db,8888086,2,8508.0,QRIS682169736543#9360000210043076322,ESB:NBMB:0007I00P:682169736543,QRIS682169736543#9360000210043076322,Bayar QRIS Non BRI Merchant: QRIS682169736543
73,18,678701037253531,2023-12-30 20:38:53,2023-12-30 00:00:00,203853,30513,089529961557 00861563 000000030513,196129.27,100000.0,0.0,96129.27,Db,9854674,2,2501.0,089529961557 00861563 000000030513,089529961557 00861563 000000030513,NaN,089529961557 00861563 000000030513
276,6,678701037253531,2024-11-05 06:09:06,2024-11-05 06:09:06,60906,8040750,NBMB JAMIYYAH TO AMIN AFIF RAFI'I ESB:NBMB:000...,250725.27,0.0,500000.0,750725.27,Cr,8888113,1,8506.0,NBMB JAMIYYAH TO AMIN AFIF RAFI'I,ESB:NBMB:0001500F:757007670249,NaN,Transfer Dari Jamiyyah via BRImo

In [5]:
def assessing_data(df):
    print(f"\n---TABLE INFO---\n")
    df.info()

    print(f"\n---MISSING VALUES---\n")
    print(df.isna().sum())

    print(f"\n---DUPLICATE DATA---\n")
    print(df.duplicated().sum())

    print(f"\n---STATISTICS PARAMETER---\n")
    print(df.describe())

In [6]:
assessing_data(adit_df)

---TABLE INFO---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  78 non-null     int64
 1   NOREK               78 non-null     int64
 2   TGL_TRAN            78 non-null     object
 3   TGL_EFEKTIF         78 non-null     object
 4   JAM_TRAN            72 non-null     float64
 5   SEQ                 72 non-null     float64
 6   DESK_TRAN           78 non-null     object
 7   SALDO_AWAL_MUTASI   78 non-null     float64
 8   MUTASI_DEBET        78 non-null     float64
 9   MUTASI_KREDIT       78 non-null     float64
 10  SALDO_AKHIR_MUTASI  78 non-null     float64
 11  GLSIGN              72 non-null     object
 12  TRUSER              72 non-null     float64
 13  KODE_TRAN           72 non-null     float64
 14  KODE_TRAN_TELLER    72 non-null     float64
 15  TRREMK              71 non-null     object
 16  TLBDS1              61 non-null     object
 17  TLBDS2              52 non-null     object
 18  REMARK_CUSTOM       72 non-null     object
dtypes: float64(9), int64(2), object(8)
memory usage: 11.7+ KB

---MISSING VALUES---

ID                     0
NOREK                  0
TGL_TRAN               0
TGL_EFEKTIF            0
JAM_TRAN               6
SEQ                    6
DESK_TRAN              0
SALDO_AWAL_MUTASI      0
MUTASI_DEBET           0
MUTASI_KREDIT          0
SALDO_AKHIR_MUTASI     0
GLSIGN                 6
TRUSER                 6
KODE_TRAN              6
KODE_TRAN_TELLER       6
TRREMK                 7
TLBDS1                17
TLBDS2                26
REMARK_CUSTOM          6
dtype: int64

---DUPLICATE DATA---

0

---STATISTICS PARAMETER---

              ID         NOREK       JAM_TRAN           SEQ  \
count  78.000000  7.800000e+01      72.000000  7.200000e+01
mean    9.717949  4.791010e+14  141827.097222  1.582229e+06
std     7.769232  1.006473e+00   51557.517393  2.817608e+06
min     1.000000  4.791010e+14   62142.000000  1.702000e+03
25%     3.000000  4.791010e+14   94428.500000  4.148000e+04
50%     7.000000  4.791010e+14  123522.500000  1.028330e+05
75%    15.750000  4.791010e+14  191263.250000  1.175518e+06
max    28.000000  4.791010e+14  231647.000000  9.000009e+06

       SALDO_AWAL_MUTASI  MUTASI_DEBET  MUTASI_KREDIT  SALDO_AKHIR_MUTASI  \
count       7.800000e+01  7.800000e+01   7.800000e+01        7.800000e+01
mean        2.125674e+06  2.952443e+05   3.353846e+05        2.165814e+06
std         1.920600e+06  6.813437e+05   8.597394e+05        1.909586e+06
min         5.154780e+04  0.000000e+00   0.000000e+00        5.154780e+04
25%         3.332348e+05  0.000000e+00   0.000000e+00        3.689208e+05
50%         1.410298e+06  2.500000e+03   0.000000e+00        1.640922e+06
75%         3.395671e+06  2.505000e+05   0.000000e+00        3.395671e+06
max         7.619048e+06  3.203000e+06   4.575000e+06        7.619048e+06

             TRUSER  KODE_TRAN  KODE_TRAN_TELLER
count  7.200000e+01  72.000000         72.000000
mean   7.746357e+06   1.930556       8409.083333
std    3.061863e+06   0.810606       2390.666085
min    3.718510e+05   1.000000       2117.000000
25%    8.888068e+06   2.000000       8507.500000
50%    8.888291e+06   2.000000       8700.000000
75%    8.888528e+06   2.000000       9973.000000
max    9.966571e+06   5.000000       9973.000000

In [7]:
assessing_data(alus_df)

---TABLE INFO---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  253 non-null    int64
 1   NOREK               253 non-null    int64
 2   TGL_TRAN            253 non-null    object
 3   TGL_EFEKTIF         253 non-null    object
 4   JAM_TRAN            253 non-null    int64
 5   SEQ                 253 non-null    int64
 6   DESK_TRAN           253 non-null    object
 7   SALDO_AWAL_MUTASI   253 non-null    float64
 8   MUTASI_DEBET        253 non-null    float64
 9   MUTASI_KREDIT       253 non-null    float64
 10  SALDO_AKHIR_MUTASI  253 non-null    float64
 11  GLSIGN              253 non-null    object
 12  TRUSER              233 non-null    object
 13  KODE_TRAN           253 non-null    int64
 14  KODE_TRAN_TELLER    213 non-null    float64
 15  TRREMK              233 non-null    object
 16  TLBDS1              192 non-null    object
 17  TLBDS2              95 non-null     object
 18  REMARK_CUSTOM       253 non-null    object
dtypes: float64(5), int64(5), object(9)
memory usage: 37.7+ KB

---MISSING VALUES---

ID                      0
NOREK                   0
TGL_TRAN                0
TGL_EFEKTIF             0
JAM_TRAN                0
SEQ                     0
DESK_TRAN               0
SALDO_AWAL_MUTASI       0
MUTASI_DEBET            0
MUTASI_KREDIT           0
SALDO_AKHIR_MUTASI      0
GLSIGN                  0
TRUSER                 20
KODE_TRAN               0
KODE_TRAN_TELLER       40
TRREMK                 20
TLBDS1                 61
TLBDS2                158
REMARK_CUSTOM           0
dtype: int64

---DUPLICATE DATA---

0

---STATISTICS PARAMETER---

               ID         NOREK       JAM_TRAN           SEQ  \
count  253.000000  2.530000e+02     253.000000  2.530000e+02
mean    12.652174  1.230108e+13  137295.596838  2.164927e+06
std      7.548097  0.000000e+00   61672.332774  3.497819e+06
min      1.000000  1.230108e+13       0.000000  0.000000e+00
25%      6.000000  1.230108e+13   93929.000000  2.252600e+04
50%     12.000000  1.230108e+13  133108.000000  1.044490e+05
75%     19.000000  1.230108e+13  191109.000000  4.326253e+06
max     31.000000  1.230108e+13  235959.000000  9.894400e+06

       SALDO_AWAL_MUTASI  MUTASI_DEBET  MUTASI_KREDIT  SALDO_AKHIR_MUTASI  \
count       2.530000e+02  2.530000e+02   2.530000e+02        2.530000e+02
mean        1.537512e+06  1.150644e+05   1.109170e+05        1.533365e+06
std         1.811024e+06  3.909758e+05   5.924477e+05        1.811881e+06
min         7.000000e+04  0.000000e+00   0.000000e+00        7.000000e+04
25%         5.115000e+05  1.500000e+03   0.000000e+00        5.115000e+05
50%         8.360000e+05  6.000000e+03   0.000000e+00        8.330000e+05
75%         1.540500e+06  1.000000e+05   0.000000e+00        1.539750e+06
max         8.795500e+06  3.000000e+06   7.000000e+06        8.795500e+06

        KODE_TRAN  KODE_TRAN_TELLER
count  253.000000        213.000000
mean    83.865613       8413.380282
std    189.942780       1216.735034
min      1.000000       2501.000000
25%      2.000000       8154.000000
50%      2.000000       8508.000000
75%      4.000000       8700.000000
max    582.000000       9992.000000

In [8]:
assessing_data(amin_df)

---TABLE INFO---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281 entries, 0 to 280
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  281 non-null    int64
 1   NOREK               281 non-null    int64
 2   TGL_TRAN            281 non-null    object
 3   TGL_EFEKTIF         281 non-null    object
 4   JAM_TRAN            281 non-null    int64
 5   SEQ                 281 non-null    int64
 6   DESK_TRAN           281 non-null    object
 7   SALDO_AWAL_MUTASI   281 non-null    float64
 8   MUTASI_DEBET        281 non-null    float64
 9   MUTASI_KREDIT       281 non-null    float64
 10  SALDO_AKHIR_MUTASI  281 non-null    float64
 11  GLSIGN              281 non-null    object
 12  TRUSER              249 non-null    object
 13  KODE_TRAN           281 non-null    int64
 14  KODE_TRAN_TELLER    219 non-null    float64
 15  TRREMK              249 non-null    object
 16  TLBDS1              219 non-null    object
 17  TLBDS2              67 non-null     object
 18  REMARK_CUSTOM       281 non-null    object
dtypes: float64(5), int64(5), object(9)
memory usage: 41.8+ KB

---MISSING VALUES---

ID                      0
NOREK                   0
TGL_TRAN                0
TGL_EFEKTIF             0
JAM_TRAN                0
SEQ                     0
DESK_TRAN               0
SALDO_AWAL_MUTASI       0
MUTASI_DEBET            0
MUTASI_KREDIT           0
SALDO_AKHIR_MUTASI      0
GLSIGN                  0
TRUSER                 32
KODE_TRAN               0
KODE_TRAN_TELLER       62
TRREMK                 32
TLBDS1                 62
TLBDS2                214
REMARK_CUSTOM           0
dtype: int64

---DUPLICATE DATA---

0

---STATISTICS PARAMETER---

               ID         NOREK       JAM_TRAN           SEQ  \
count  281.000000  2.810000e+02     281.000000  2.810000e+02
mean    10.416370  6.787010e+14  136781.964413  1.006565e+06
std      6.841649  2.629683e+00   66852.756462  2.684318e+06
min      1.000000  6.787010e+14       0.000000  0.000000e+00
25%      5.000000  6.787010e+14   91714.000000  1.773000e+03
50%      9.000000  6.787010e+14  140956.000000  4.292300e+04
75%     15.000000  6.787010e+14  190705.000000  1.267400e+05
max     30.000000  6.787010e+14  235959.000000  9.295206e+06

       SALDO_AWAL_MUTASI  MUTASI_DEBET  MUTASI_KREDIT  SALDO_AKHIR_MUTASI  \
count       2.810000e+02  2.810000e+02   2.810000e+02        2.810000e+02
mean        8.389935e+05  1.659982e+05   1.659440e+05        8.389392e+05
std         1.083809e+06  5.817941e+05   8.237038e+05        1.083849e+06
min         2.901427e+04  0.000000e+00   0.000000e+00        2.901427e+04
25%         1.836373e+05  7.500000e+02   0.000000e+00        1.836373e+05
50%         5.451293e+05  1.600000e+04   0.000000e+00        5.451293e+05
75%         1.250014e+06  2.000000e+05   0.000000e+00        1.250014e+06
max         1.268378e+07  7.845000e+06   1.204500e+07        1.268378e+07

        KODE_TRAN  KODE_TRAN_TELLER
count  281.000000        219.000000
mean   115.366548       7112.452055
std    215.267668       2301.761131
min      1.000000       2501.000000
25%      2.000000       6669.000000
50%      2.000000       8506.000000
75%      4.000000       8508.000000
max    582.000000       9973.000000

In [9]:
def preprocess_data(data):
  # Menambahkan kolom baru
  data['amount'] = data['MUTASI_DEBET'] + data['MUTASI_KREDIT']

  # Menghapus kolom tidak terpakai
  data.drop(["ID","NOREK","TGL_EFEKTIF","JAM_TRAN","SEQ","DESK_TRAN","SALDO_AWAL_MUTASI",
             "MUTASI_DEBET", "MUTASI_KREDIT", "SALDO_AKHIR_MUTASI","TRUSER","KODE_TRAN",
             "KODE_TRAN_TELLER","TRREMK", "TLBDS1","TLBDS2","REMARK_CUSTOM"],
            axis = 1, inplace= True)

  # Mengganti nama kolom
  data.rename(columns={'TGL_TRAN':'date','GLSIGN':'transaction_type'}, inplace=True)

  # Mengganti isi kolom
  data['transaction_type'] = data['transaction_type'].replace({'Cr': 'Income', 'Db': 'Expense'})

  # Mengkonversi tipe data
  data['date'] = pd.to_datetime(data['date']).dt.date
  data['amount'] = pd.to_numeric(data['amount'])
  data['transaction_type'] = data['transaction_type'].astype('category')

  # Menghapus baris dengan missing value
  data.dropna(inplace=True)

  # Mengurutkan data
  data.sort_values(by='date', ascending=True)

  return data

In [10]:
preprocess_data(adit_df)

          date transaction_type     amount
0   2024-01-29           Income  2735000.0
1   2024-01-30           Income   300000.0
2   2024-01-30          Expense  2800000.0
3   2024-01-30          Expense     2500.0
4   2024-01-31          Expense   240000.0
..         ...              ...        ...
73  2024-11-18           Income   700000.0
74  2024-11-18          Expense   437000.0
75  2024-11-18          Expense     2500.0
76  2024-11-18          Expense   150000.0
77  2024-11-18          Expense     2500.0

[72 rows x 3 columns]

In [11]:
preprocess_data(alus_df)

           date transaction_type    amount
0    2024-01-02          Expense  680000.0
1    2024-01-02          Expense    2500.0
2    2024-01-02          Expense  100000.0
3    2024-01-02          Expense    1500.0
4    2024-01-02          Expense   15000.0
..          ...              ...       ...
248  2024-11-13           Income   50000.0
249  2024-11-14          Expense   30000.0
250  2024-11-15          Expense   20000.0
251  2024-11-15           Income  300000.0
252  2024-11-15          Expense   90000.0

[253 rows x 3 columns]

In [12]:
preprocess_data(amin_df)

           date transaction_type     amount
0    2023-09-01           Income  1200000.0
1    2023-09-04          Expense   200000.0
2    2023-09-04           Income   100000.0
3    2023-09-04          Expense   100000.0
4    2023-09-04          Expense   100000.0
..          ...              ...        ...
276  2024-11-05           Income   500000.0
277  2024-11-05          Expense   700000.0
278  2024-11-10          Expense     3000.0
279  2024-11-16          Expense     2500.0
280  2024-11-16          Expense     5500.0

[281 rows x 3 columns]

In [13]:
data = pd.concat([adit_df, alus_df, amin_df]).sort_values(by='date', ascending=True)
data.to_csv("merger_dataset.csv", index=False)

In [14]:
import json

data = pd.read_csv("merger_dataset.csv")

with open('merger_dataset.json', 'w') as json_file:
    json.dump(data.to_dict(orient="records"), json_file, indent=1)